@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-color: #7FFFD4;
    }
    h1{
        text-align:center;
        font-family:'Times New Roman';
        font-size:30px;
    }
    .inicio {
        background-color: #2E8B57;
    }
    
    .inicio ul {
        list-style:none;
       text-align:center;
        
    }
    .inicio ul li {
            display: inline-block;
            text-align: center;
            font-family: 'Times New Roman';
            font-size: 25px;
            padding: 10px;
        }
    .foto ul{
        list-style:none;
    }
    .foto ul li{
        display:inline-block;
        
    }
    .foto ul li img {
            height: 200px;
            width: 250px;
    }
    .foto1 ul{
        list-style:none;
    }
    .foto1 ul li{
        display:inline-block;
        
    }
    .foto1 ul li img {
            height: 200px;
            width: 250px;
    }
</style>
<body>
<h1>Catálogo de jogos</h1>
<div class="inicio">
    <ul>
    <li><a href=""></a><strong>Luta</strong></li>
    <li><a href=""></a><strong>Ação</strong></li>
    <li><a href=""></a><strong>Corrida</strong></li>
    <li><a href=""></a><strong>Rítimico</strong></li>
    <li><a href=""></a><strong>Esportes</strong></li>
    
</ul>
</div>
<div class="foto">
    <ul>
<li><img src="https://upload.wikimedia.org/wikipedia/pt/b/b5/Mortal_kombat_x_gameplay.jpg" alt="Jogo" /></li>
<li><img src="https://upload.wikimedia.org/wikipedia/pt/5/59/Street-fighter-v-laura-karin_screen.jpg" alt="jogo" /></li>
<li><img src="https://upload.wikimedia.org/wikipedia/pt/1/10/Tomclancysrainbowsixsiege_screen.jpg" alt="Jogo" /></li>
<li><img src="https://observatoriodegames.uol.com.br/wp-content/uploads/2020/01/Sonic-1024x653.jpg" alt="Jogo" /></li>

 </ul>
</div>
    <br />
    <br />
<div class="foto1">
    <ul>
        <li><img src="https://jovemnerd.com.br/wp-content/uploads/1376928602-4.jpg" alt="Jogo" /></li>
        <li><img src="https://eusouandroid.co/wp-content/uploads/2019/04/Melhores-Jogos-de-DRAGON-BALL-Z-Para-Android.jpg" alt="Jogo" /></li>
        <li><img src="https://fanatical.imgix.net/product/original/52ec098f-2de8-4478-adf5-3d4fbc22fd32.jpeg?auto=compress,format&w=400&fit=crop&h=" alt="Jogo" /></li>
        <li><img src="https://s3-sa-east-1.amazonaws.com/images.ofertaesperta.com/images/350_d5qcvcarfl3r92vyttq4.jpg" alt="Jogo" /></li>
        
    </ul>
</div>
</body>